.user-btn {
    display: flex;
    align-items: center;

    p {
        margin: 15px;
    }

    .userIcon {
        width: 25px;
    }

    div {
        border: 3px solid white;
        border-radius: 6px;
        width: 25.6px;
        height: 25.6px;
        text-align: center;
        font-size: 18px;
    }

    .i {
        font-size: 1.1rem;
        margin-bottom: -2px;
    }
}