@use "../utils/palette.scss" as pal;

/* General button style */
.button {
    min-width: 100px;
    padding: 13px 29px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
    font: 14px Inter, sans-serif;
    font-weight: 600;
}

/* Primary button */
.primaryButton {
    background-color: pal.$primary0;
    color: pal.$gray6;

    &:hover {
        background-color: pal.$primary-1;
        box-shadow: 0px 0px 10px -4px pal.$gray-2;
    }

    &.primary1 {
        background-color: pal.$primary1;
        color: pal.$gray6;

        &:hover {
            background-color: pal.$primary0;
            box-shadow: 0px 0px 10px -4px pal.$gray-2;
        }
    }

    &.secondary {
        background-color: pal.$secondary0;
        color: pal.$gray-3;

        &:hover {
            background-color: pal.$secondary-1;
        }
    }

    &.danger {
        background-color: pal.$danger3;
        color: pal.$danger-1;

        &:hover {
            background-color: pal.$danger1;
            color: pal.$danger5;
        }
    }
}

.invertedButton {
    color: pal.$primary0;
    background-color: pal.$gray6;

    &:hover {
        background-color: pal.$gray4;
        box-shadow: 0px 0px 10px -4px pal.$gray-1;
    }

    &.secondary {
        color: pal.$secondary0;
        background-color: pal.$gray-2;

        &:hover {
            background-color: pal.$secondary-1;
        }
    }
}
