%color-white {
    color: #FFFFFF;
}

$white: #ffffff;

.header {
    background-color: blue;
    max-width: 100%;
    max-height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .i {
        color: $white;
        font-size: 1.6rem;
    }

    p {
        @extend %color-white;
        font-size: 1.125rem;
    }
}

.logo {
    width: 6rem;
}

/* search bar styles */
.search-bar-form {
    display: flex;
    flex-direction: row;
    align-items: center;

    .search-field {
        width: 15vw;
        padding: 10px 35px 10px 15px;
        border: none;
        border-radius: 6px;
        outline: none;
    }

    .search-button {
        background: #FFD140;
        border: none;
        border-radius: 6px;
        width: 29px;
        height: 29px;
        padding: 0;
        outline: none;
        margin-left: -33px;
    }

    .search-button .i {
        font-size: 0.8rem;
        object-fit: cover;
    }
}

.logo-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 25vw;
}

.nav-list-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    min-width: 25vw;
}