@use "../../utils/palette.scss" as pal;

.formContainer {
    background-color: pal.$gray6;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    .form {
        width: 80%;
        margin: 0 auto;

        h1 {
            margin: 30px 0;
        }

        .section {
            display: flex;
            flex-direction: column;

            border-radius: 6px;
            background-color: pal.$white;
            padding: 30px;
            margin-bottom: 15px;

            h4 {
                margin: 10px 0;
            }

            .inputContainer {
                margin: 10px 0;
                max-width: 600px;

                label {
                    display: block;
                    cursor: pointer;
                    margin-bottom: 5px;
                }

                input {
                    width: 600px;
                    max-width: 600px;
                }

                select {
                    width: 400px;
                }

                ::placeholder {
                    font-size: 14px;
                }

                .textareaErrorField {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;

                    width: 590px;

                    color: pal.$gray2;
                }

                input:not(input[type="file"]),
                select,
                textarea {
                    height: 40px;
                    padding: 5px 15px;

                    border: 2px solid pal.$gray3;
                    border-radius: 6px;

                    font-size: 14px;

                    &.inputError {
                        border-bottom: 2px solid pal.$danger0;
                        &:focus {
                            outline: none;
                            border-bottom: 2px solid pal.$danger0;
                        }
                    }

                    &:focus {
                        outline: none;
                        border: 2px solid pal.$gray0;
                    }
                }

                textarea {
                    resize: none;
                    width: 600px;
                    height: 250px;
                }

                .priceInput {
                    display: flex;
                    align-items: center;
                    max-width: 600px;
                    max-height: 40px;

                    input {
                        border-right: none !important;
                        border-radius: 6px 0 0 6px !important;
                        width: 95%;
                    }

                    label {
                        max-width: 5%;
                        max-height: 40px;

                        margin: 0;
                        padding: 8.5px 8px;

                        cursor: pointer;
                        color: pal.$gray-2;
                        background-color: pal.$gray3;

                        border-radius: 0 6px 6px 0;
                        border: 2px solid pal.$gray3;
                    }
                }
            }

            .additionalInformation {
                h5 {
                    margin: 10px 0;
                }

                label {
                    margin: 8px 0;
                }

                .radioContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    max-width: 150px;
                    align-content: center;

                    .radio {
                        display: flex;
                        align-items: center;

                        input[type="radio"] {
                            margin: 0;
                        }

                        label {
                            margin-left: 5px;
                        }
                    }
                }
            }

            &.button {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                cursor: auto;

                p {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .button {
                    width: 200px;

                    margin-left: 50px;
                }
            }
        }
    }
}

.imagesSectionContainer {
    .imageContainer {
        width: 100px;
        height: 75px;
        background-color: pal.$gray5;
    }
}
