// Grays
$white: #ffffff;
$gray6: #f4f4f4;
$gray5: #eaeaea;
$gray4: #dadbdc;
$gray3: #c0c2c5;
$gray2: #939699;
$gray1: #71757a;
$gray0: #454749;
$gray-1: #363738;
$gray-2: #242627;
$gray-3: #0e1113;
$black: #000;

// Primary
$primary6: #e3efff;
$primary5: #d1e4fc;
$primary4: #c2ddfd;
$primary3: #afd4ff;
$primary2: #76aae7;
$primary1: #468ce0;
$primary0: #1b72db;
$primary-1: #085cc2;
$primary-2: #064085;
$primary-3: #063267;

// Secondary
$secondary3: #ffedb6;
$secondary2: #ffe48e;
$secondary1: #ffda63;
$secondary0: #ffd140;
$secondary-1: #f3bc0e;
$secondary-2: #b88d06;
$secondary-3: #987300;

// Accent
$accent: #1fd6ff;

// Negative/Danger
$danger5: #fadede;
$danger4: #fec9d0;
$danger3: #ffb0bb;
$danger2: #f57b8c;
$danger1: #e64f64;
$danger0: #d52941;
$danger-1: #c2172f;
$danger-2: #ae1127;
$danger-3: #8a0013;

// Warning
$warning3: #ffb7a0;
$warning2: #ff9675;
$warning1: #f08462;
$warning0: #e9724c;
$warning-1: #df6037;
$warning-2: #d84e22;
$warning-3: #a63510;

// Success
$success3: #a1f9cc;
$success2: #53d995;
$success1: #2ad07c;
$success0: #00cc64;
$success-1: #00a652;
$success-2: #00813f;
$success-3: #00572b;

:export {
    // Grays
    white: $white;
    gray6: $gray6;
    gray5: $gray5;
    gray4: $gray4;
    gray3: $gray3;
    gray2: $gray2;
    gray1: $gray1;
    gray0: $gray0;
    gray-1: $gray-1;
    gray-2: $gray-2;
    gray-3: $gray-3;
    black: $black;

    // Primary
    primary6: $primary6;
    primary5: $primary5;
    primary4: $primary4;
    primary3: $primary3;
    primary2: $primary2;
    primary1: $primary1;
    primary0: $primary0;
    primary-1: $primary-1;
    primary-2: $primary-2;
    primary-3: $primary-3;

    // Secondary
    secondary3: $secondary3;
    secondary2: $secondary2;
    secondary1: $secondary1;
    secondary0: $secondary0;
    secondary-1: $secondary-1;
    secondary-2: $secondary-2;
    secondary-3: $secondary-3;

    // Accent
    accent: $accent;

    // Negative/Danger
    danger5: $danger5;
    danger4: $danger4;
    danger3: $danger3;
    danger2: $danger2;
    danger1: $danger1;
    danger0: $danger0;
    danger-1: $danger-1;
    danger-2: $danger-2;
    danger-3: $danger-3;

    // Warning
    warning3: $warning3;
    warning2: $warning2;
    warning1: $warning1;
    warning0: $warning0;
    warning-1: $warning-1;
    warning-2: $warning-2;
    warning-3: $warning-3;

    // Success
    success3: $success3;
    success2: $success2;
    success1: $success1;
    success0: $success0;
    success-1: $success-1;
    success-2: $success-2;
    success-3: $success-3;
}

// $danger: #BF1A2F;
// $warning: #ff911f;
// $white: #fffaff;
// $gray: #eeeeee;
// $black: #000000;
// $primary: #2542db;
